{% extends 'base.html' %}

{% block content %}
    <ul>
        {% if articles %}
            {% for article in articles %}
                <li>
                    <a href="{% url 'articles-detail' article.id %}">
                        <h1>{{ article.title }}</h1>
                    </a>
                    <p>{{ article.created_on }}</p>
                </li>
            {% endfor %}
        {% else %}
            <p>No articles have been added.</p>
        {% endif %}
    </ul>
{% endblock content %}